*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{

}
.logo img{
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
}
ul{
    float: right;
    
    margin-top: -60px;
    background-color: rgba(29, 9, 9, 0.555);
    margin-right: 40px;
}
ul .item{
    
    padding: 0 40px;
    list-style: none;
    float: left;
}
ul .item a{
    font-size: 40px;
    text-decoration: none;
}
.container {
    display: none;
    cursor: pointer;
    float: right;
    margin-top: -55px;
    margin-right: 25px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .container{
      display: none;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    display: none;
  }
  
  .change .bar2 {
      opacity: 0; 
    }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    display: none;
  }
  .mobile{
    display: none;
    width: 120px;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-right: 700px;
   position: fixed;
    height: 170px;
    float: right;
    margin-left: 60px;
}
.mobile li{
    float: none;
    padding: 10px 10px 10px  10px;
    
    
}
.mobile li a{
    font-size: 20px;
    color: white;
}
.icons{
    margin-top: 200px;
    position: fixed;
}
.icons a{
    width: 130px;
    display: flex;
    transform: translateX(-85px);
    text-align: left;
    font-size: 21px;
    text-decoration: none;
    padding: 5px 0;
    background-color: rgb(0, 104, 160);
    margin: 5px 0;
    color: snow;
    line-height: 30px;
    border-radius: 4px;
    transition:all 0.5s  linear;
}
.icons img{
    margin-left: 10px;
}
.icons a:hover{
    transform: translateX(0px);
    
}
.section1 h1{
    font-size: 20px;
    align-items: center;
    margin-left: 70px;
    margin-top: 4.5rem;
}
.blink{
    animation: blink 1s infinite;
}
@keyframes blink{
    0%{color: red;}
    25%{color: rgb(47, 0, 255);}
    50%{color: red;}
    100%{color: rgb(47, 0, 255);}
}
@media only screen and (max-width:507px){
    ul{
        display: none;
    }
    .container{
        display: block;
    }
    .change .bar1{
        display: block;
    }
    .change .bar3{
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    display: block;
    }
    .change{
        display: block;
    }
    .container:active{
        background: none;
    }
    .icons{
        margin-top: 150px;
        
    }
    .icons a{
        width: 90px;
        display: flex;
        transform: translateX(-50px);
        text-align: left;
        font-size: 10px;
        text-decoration: none;
        transition:all 0.5s  linear;
        background-color: rgb(0, 104, 160);
        margin: 5px 0;
        color: snow;
        line-height: 30px;
        border-radius: 4px;
    }
    .icons img{
        margin-left: 10px;
    }
    .icons a:hover{
        transform: translateX(0px);
        
    }
}
@media only screen and (max-width:375px){
    .icons{
        margin-top: 150px;
        
    }
    .icons a{
        width: 90px;
        display: flex;
        transform: translateX(-40px);
        text-align: left;
        font-size: 10px;
        text-decoration: none;
        transition:all 0.5s  linear;
        background-color: rgb(0, 104, 160);
        margin: 5px 0;
        color: snow;
        line-height: 30px;
        border-radius: 4px;
    }
    .icons img{
        margin-left: 10px;
    }
    .icons a:hover{
        transform: translateX(0px);
        
    }
    .section1 h1{
        font-size: 10px;
        align-items: center;
        margin-left: 100px;
        margin-top: 4.5rem;
    }
    .blink{
        animation: blink 1s infinite;
    }
    @keyframes blink{
        0%{color: red;}
        25%{color: rgb(47, 0, 255);}
        50%{color: red;}
        100%{color: rgb(47, 0, 255);}
    }
}